<div class="card">
    <div class="card-body">
        <h3>Create a Review</h3>
        <form class="create-review-form">
            <label for="artist" class="form-label">Artist Name</label>
            <input type="text" class="form-control mb-3" id="artist"/>
            
            <label for="album" class="form-label">Album Name</label>
            <input type="text" class="form-control mb-3" id="album"/>
            
            <label for="review" class="form-label">Your Review</label>
            <input type="text" class="form-control mb-3" id="review"/>
            
            <label for="rating" class="form-label">Your Rating</label>
            <input type="text" class="form-control mb-3" id="rating"/>
            
            <label for="cover" class="form-label">Cover Photo</label>
            <input type="text" class="form-control mb-3" id="cover"/>
            
            <button type="submit" class="btn btn-primary">Create Review</button>
        </form>
    </div>
</div>

<script src="/js/review.js"></script>