<div class="card">
  <div class="card-body">
    <h3>Log in</h3>
    <form class="login-form">
      <div class="mb-3">
        <label for="login-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="login-username" />
      </div>
      <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password" />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>