{{!-- Frontend form for login --}}
<div class="card">
  <div class="card-body">
    <h3>Log in</h3>
    <form class="login-form">
      <div class="mb-3">
        <label for="login-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="login-username" />
      </div>
      <div class="mb-3">
        <label for="login-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="login-password" />
      </div>
      <button type="submit" style="background-image: linear-gradient(to bottom right, rgb(50, 217, 230), rgb(122, 84, 189)); border: 0;" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>