<div class="card">
    <div class="card-body">
      <h3>Create an account</h3>
      <form class="signup-form">
        <div class="mb-3">
          <label for="signup-username" class="form-label">Username</label>
          <input type="text" class="form-control" id="signup-username" />
        </div>
        <div class="mb-3">
          <label for="signup-password" class="form-label">Password</label>
          <input type="password" class="form-control" id="signup-password" />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>